*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 93%);
  color: hsl(123, 95%, 15%);
  text-align: center;
}

.strength-meter {
  position: relative;
  height: 2rem;
  width: 25%;
  border: 3px solid hsl(123, 95%, 20%);
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

.strength-meter::before {
  content: "";
  position: absolute;
  left: 0;
  height: 99%;
  width: calc(1% * var(--strength, 0));
  background-color: hsl(123, 95%, 40%);

  transition: width 200ms;
}

.password-input {
  width: 15%;
  padding: 0.25rem 0.75rem;
  border: 2px solid hsl(123, 95%, 20%);
  border-radius: 0.3rem;
  outline: none;
  text-align: center;
}

.password-input:focus {
  border: 2px solid hsl(123, 95%, 35%);
}

.reasons > * {
  margin-top: 0.5rem;
  color: hsl(123, 95%, 30%);
}
