*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 40%);
  text-align: center;
}

.strength-meter {
  height: 2rem;
  width: 50%;
  border: 3px solid hsl(0, 0%, 44%);
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
